# Core Framework
Django==6.0.3
djangorestframework==3.17.0
sqlparse==0.5.5

# API Documentation
drf-spectacular==0.29.0

# Authentication & Security
PyJWT==2.12.1
bcrypt==5.0.0

# Database - MySQL
mysqlclient==2.2.8

# Environment Variables
python-dotenv==1.2.2

# Async Support
asgiref==3.11.1

# Utils
PyYAML==6.0.3
uritemplate==4.2.0
inflection==0.5.1
tzdata==2025.3

# drf-spectacular dependencies
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
referencing==0.37.0
rpds-py==0.30.0
attrs==26.1.0


django-cors-headers==3.13.0

# Production server
gunicorn==23.0.0

